html {
    scroll-behavior: smooth;
  }
*{
    font-family: 'Ubuntu', sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    position: relative;
    background-image: url(../images/main-bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  
.main-cont{
    overflow-x: hidden;
}

/* ****************          NAVBAR STYLES         ********************** */
.navbar-toggler-icon{
    border-color:#004C56;
}

.nav-logo{
    padding-inline-end: 15px;
    width: 70px;
    transition: .5s ease-in-out;
}

.kerrific{
    font-size: 40px;
    font-family: 'Ubuntu', sans-serif;
    color: #F48319;
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase;
    transition: .5s ease-in-out;
}

.smarts{
    font-size: 33px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    color: #004C56;
    transition: .5s ease-in-out;   
}
.nav-item{
    font-size: 15px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    color: #004C56;     
    margin-inline-start: 25px;
    transition: .5s;
}

.nav-item:hover{
    color: #F48319;
}

.bgcolor{
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    min-height: 55px;
}

.navigation{
    transition: .3s ease-in-out ;
}

.kerrific-small{
    font-size: 30px !important;
}

.smarts-small{
    font-size: 23px !important;
}

.nav-logo-small{
    width: 60px !important;
}

.nav-item-small{
    font-size: 14px;
}
/* container */
.content{
    padding-top: 70px;
}
/* ================================     GENERAL STYLES      ================================ */
.section-title{
    font-size: 25px;
    font-weight: 600;
    color: #F48319;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 15px;
}

.section-hr{
    width: 70px;
    border: 2px solid #004C56;
    margin-top: -15px;
    margin-bottom: 20px;
}
.gray-container{
    background-color: #fdfafa;
    position: relative;
}

.white-container{
    background-color:#FFFFFF;
}

.active{
    color: #F48319;
}
/* ================================         HOME STYLES        ================================ */
.home-content{
    margin-top: auto;
    margin-bottom: auto;
}
.we-create{
    padding-top: 80px;
    font-size: 100px;
    font-weight: bold;
    color: #F48319;
}

hr{
    width: 180px;
    border: 10px solid #004C56;
    margin-top: 50px;
    margin-bottom: 80px;
}

p,.ideas-tagline{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: #F48319;
}

.ideas-tagline{
    font-weight: bold;
}

.home-container{
    background: none;
}
/* ================================     ABOUT STYLES        ================================ */
.description{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    color: #004C56;
    margin: auto;
}

.mission-title{
    font-size:  25px;
    font-weight: 400;
    color: #F48319;
    padding-top: 50px;
    text-align: center;
}
.about-section{
    min-height: 450px;
}
.about-image{
    height: 400px;
    border-radius: 15px;
    background: url('../images/stil-flRm0z3MEoA-unsplash.jpg');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    background-position: center center;
}



/* ================================         SERVICES STYLES        ================================ */


.service-card {
    position: relative;
    text-align: center;
    margin-bottom: 50px;
    -webkit-transition: .3s;
    transition: .3s;
    padding: 30px 30px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    min-height: 350px;
  }

.service-card:before {
    position: absolute;
    width: 0;
    height: 0;
    background-color: #F48319;
    left: 0;
    top: 0;
    content: "";
    -webkit-transition: .3s;
    transition: .3s;
  }
  
  .service-card:after {
    position: absolute;
    width: 0;
    height: 0;
    background-color: #F48319;
    right: 0;
    bottom: 0;
    content: "";
    -webkit-transition: .3s;
    transition: .3s
  }
  
  .service-card:hover:after,
  .service-card:hover:before {
    width: 50%;
    height: 2px;
    -webkit-transition: .3s;
    transition: .3s
  }
  
  .service-card:hover {
    box-shadow: 1px 3px 10px 0 rgba(0, 0, 0, 0.10);
    cursor: pointer;
  }
  
  .service-card i.fa {
    font-size: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #ddd;
    line-height: 60px;
    margin-bottom: 30px;
    border-radius: 50%;
    -webkit-transition: .3s;
    transition: .3s
  }
  
  .service-card:hover i.fa {
    background-color: #F48319;
    color: #fff;
    border-color: #F48319;
    border-radius: 0;
  }
  
  .service-card h4 {
    font-size: 25px;
    font-weight: 500;    
    color: #F48319;
    margin-bottom: 15px;
    text-transform: capitalize;
  }
  
  .service-card p {
    font-size: 18px;
    color: #004C56;
    line-height: 1.8;
  }

/* for service card animation */
/* .service-card::after{
    z-index: -1;
    opacity: 0;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
} */
/* The fast way */

.make-it-fast {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  }
  
  
  /* Pre-render the bigger shadow, but hide it */
  
.make-it-fast::after {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  
/* Transition to showing the bigger shadow on hover */

.make-it-fast:hover::after {
    opacity: 1;
  }
  
  /* Scale up the box */
.service-card:hover {
    cursor: pointer;
    transform: scale(1.05, 1.05);
  }
  
  /* Fade in the pseudo-element with the bigger shadow */
.service-card:hover::after {
    opacity: 1;
  }

/* ================================         TEAM STYLES        ================================ */

.team-container{
    background-color: #F48319;
    padding-top: 50px;
    padding-bottom: 50px;
}
.team-title{
    font-size: 40px;
    font-weight: 600;
    color: #004C56;
    text-transform: uppercase;
    text-align: center;
}

.profile-card{
    background-color: #ffffff;
    max-width: 390px;
    min-height: 480px;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 30px auto;
    /* for box shadow animation */
    box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s ease-in-out;
}
.profile-card::after{
    z-index: -1;
    opacity: 0;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}
/* The fast way */

.make-it-fast {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  }
  
  
  /* Pre-render the bigger shadow, but hide it */
  
.make-it-fast::after {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  
/* Transition to showing the bigger shadow on hover */

.make-it-fast:hover::after {
    opacity: 1;
  }
  
  /* Scale up the box */
.profile-card:hover {
    cursor: pointer;
    transform: scale(1.05, 1.05);
  }
  
  /* Fade in the pseudo-element with the bigger shadow */
.profile-card:hover::after {
    opacity: 1;
  }
.profile-pic{
    background-color: #f0eaea;
    width: 200px;
    height: 200px;
    /* margin: 0px auto; */
    margin: 5px auto;
    margin-bottom: 50px;
    border-radius: 100px;
}

.profile-container{
    margin: auto;
}

.profile-name{
    color: #004C56;
    font-size: 35px;

}

.profile-position{
    color: #004C56;
    font-size: 17px;
}

.profile-description{
    font-size: 18px;
    font-weight: 400;
    margin: auto 10px;
}


/* ================================         CONTACT STYLES        ================================ */

.contact-info{
    font-size: 18px;
    color: #004C56;
}

.contact-btn{
    float: left;
}

/* ================================         FOOTER STYLES        ================================ */
.footer-cont{
    background-color: #004C56;
}

.footer-text{
    font-size: 20px;
    font-weight: 400;
    color:#ffffff;
}

.social-box{
    padding-top: 30px;
    padding-bottom: 30px;
}

.icons{
    color: #ffffff;
}



/* ================================         WORKS STYLES        ================================ */
.works-img{
    min-width: 100%;
    transition: box-shadow .3s;
}

.works-img:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
.works-hr{
    width: 180px;
    border: 5px solid #004C56;
    margin-top: -5px;
}

.work-description{
    margin: 70px auto;
    transition: 0.3s ease-in-out;
    position: absolute;
}

.work-description h3{
    font-size: 25px;
}
.work-description p{
    font-size: 18px;
}

/* Card Styles */
.card{
    /* position: relative; */
    height: 470px;
    max-width: 100%;
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15);
    transition: 0.4s linear;
}

.card:hover{
    box-shadow: 0px 1px 35px 0px rgba(0,0,0,0.3);
    cursor: pointer;

}

.card .image{
    background: black;
    height: 400px;
    overflow: hidden;
}

.image img{
    height: 100%;
    width: 100%;
    transition: 0.3s;
}

.card .content{
    position: absolute;
    bottom: 0px;
    background: white;
    padding: 20px 30px;
    width: 100%;
    height: 100px;
    overflow: hidden;
    transition: 0.4s ease-in-out;
}

.card:hover .content{
    height: 300px;
}

.card:hover .image img{
    opacity: 0.6;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.content .title{
    font-size: 24px;
    font-weight: 600;
    color: #004C56;
}

.content .subtitle{
    font-size: 18px;
    font-weight: 500;
    color: #F48319;
    margin-bottom: 10px;
}

.bottom p{
    color: #004C56;
    font-size: 16px;
    text-align: justify;
    line-height: 1.8em;
}

.bottom button{
    float: left;
    padding: 7px 15px;
    font-size: 17px;
    background: #004C56;
    color: white;
    font-weight: 500;
    border: none;
    margin:  10px 0;
    cursor: pointer;
    transition: 0.3s ease;
}

.bottom button:hover{
    transform: scale(0.9);
    background: #F48319;
    color: #004C56;
}

.bottom button a{
    text-decoration: none;
    color: white;
}

/* .bottom{
    display: none;
} */



/* media queries */
@media (min-width: 200px) {
    .we-create{
        font-size: 50px;
    }
    
} 
@media (min-width: 300px) {
    .we-create{
        font-size: 70px;
    }
}
@media (min-width: 576px) {
    .we-create{
        font-size: 70px;
    }
}

@media (max-width: 991px) {
    nav {
        background-color: #FFFFFF;
        box-shadow: none !important;
        width: 100%;
    }
    .nav-item{
        margin: 1px auto !important;
    }

    .card{
        width: 370px;
        margin: 0 auto !important;
    }
}

@media (min-width: 992px) {
    .about-image{
        height: 100% !important;
    }
    .single-img{
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (min-width: 1200px) {}


